.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 16px;
  overflow: auto;
}

.light {
  background: #f7f7f7;
}

.dark {
background: #121212;
color: white;
}