.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ddd;
  border-bottom-color: #333;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}